<%- include("partials/headerDashboard") %> 
<div class="jumbotron" style="color: black;">
    <div class="container">
        <h2>
            <%= user.firstname+" "+user.lastname %> 
        </h2>
        <h3><%= user.email %> </h3>
        <a href="/add">Add your contribution here</a>
    </div>
</div>
<div class="container">
    <% if (data.length==0) { %>
    <em>Waiting for valuable contribution</em>
    <% } else { %>
    <h1 class="display-4"><em>Your posted data</em>!</h1>
    <% } %>
    <% data.forEach(obj => { %>
    <div class="container border" style="margin-bottom: 10px; margin-top: 10px;">            
        <a href="#" class="text-decoration-none btn btn-success"><small><%= obj.type %> </small></a>
        <h1><%= obj.name %> </h1>
        <img src="<%= obj.image %>" class="img-fluid" alt="Responsive image" style="max-height: 400px;">
        <p class="text-right"><small><%= obj.date.toDateString() %></small></p>
        <p class="text-left" ><small>By:-<%= obj.username %></small></p>
        <blockquote><%= obj.idea %></blockquote>
        <div><span></span><%- obj.description.substring(0,100) %></span>.... <a class="btn btn-sm btn-outline-primary" href="/view/<%= obj._id %> "> More <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/></svg></a></div>
    </div>
    <% }) %>
</div>
<%- include("partials/footer") %> 