<%- include("partials/headerHome") %> 
<div class="row">
    <div class="col-12 col-md-3">
        <nav class="sidebar">
            <div class="container">

                <a class="sidebar-link" href="#">Feed</a>
                <a class="sidebar-link" href="#">Ideas</a>
                <a class="sidebar-link" href="#">Project</a>
                <a class="sidebar-link" href="#">Articles</a>
            </div>
        </nav>
    </div>
    <div class="col-12 col-md-8 container">
        <div class="container mx-auto" style="margin: 10px;">
            <form class="form-inline" method="GET" action="/search">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="q" class="sr-only">Search</label>
                    <input type="text" name="q" class="form-control" id="q" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </form>
        </div>
        <% data.forEach(obj => { %>
        <div class="container border" style="margin-bottom: 10px; margin-top: 10px;">
            
            <h1><%= obj.name %> </h1>
            <img src="<%= obj.image %>" class="img-fluid" alt="Responsive image" style="max-height: 500px;">
            <p class="text-right"><small><%= obj.date.toDateString() %></small></p>
            <p class="text-left" ><small>By:-<%= obj.username %></small></p>
            <blockquote><%= obj.idea %></blockquote>
            <div><%- obj.description.substring(0,100) %>....<a class="btn btn-sm btn-outline-primary" href="#">Read more <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/></svg></a></div>
        </div>
        <% }) %>
    </div>
    <div class="col-12 col-md-1 container"></div>
</div>
<%- include("partials/footer") %> 