<%- include("partials/headerHome") %> 
<div class="jumbotron">

</div>
<div class="container">
    
    <% data.forEach(obj => { %>
    <div class="container border" style="margin-bottom: 10px; margin-top: 10px;">
        <a href="#" class="text-decoration-none"><h1><%= obj.name %> </h1></a>
        <h6><%= obj.type %>,  <%= obj.date.toDateString() %> </h6>
        <% if (obj.type!="attricle") { %>
            <p><%= obj.idea %></p>
        <% } else { %>
            <p><%= obj.description.substring(0,150) %>... </p>
        <% } %>
    
    
    </div>
    <% }) %>
</div>
<%- include("partials/footer") %> 