<%- include("partials/headerHome") %> 
<div class="jumbotron">

</div>
<div class="container">
    <div class="container">
        <form method="GET" action="/search" style="width: 100%;">
            <div class="form-group mx-sm-3 mb-2" style="width: 100%; border: 2px rgb(29, 149, 185) groove; border-radius: 5px;">
                <input style="width: 100%;" type="text" name="q" value="<%= q %> " class="form-control" id="q" placeholder="Search">
            </div>
        </form>
    </div>    
    <% data.forEach(obj => { %>
    <div class="container border" style="margin-bottom: 10px; margin-top: 10px;">
        <a href="#" class="text-decoration-none"><h1><%= obj.name %> </h1></a>
        <h6><%= obj.type %>,  <%= obj.date.toDateString() %> </h6>
        <% if (obj.type!="attricle") { %>
            <p><%= obj.idea %></p>
        <% } else { %>
            <p><%= obj.description.substring(0,150) %>... </p>
        <% } %>
    
    
    </div>
    <% }) %>
</div>
<%- include("partials/footer") %> 